h2 {
    margin-bottom: 20px;
}

.content {
    width: 1024px;
    padding: 40px 0;
    background-color: #eaecf2;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.contacts a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 0 12px;
}

i {
    color: #0000ff;
}

.name p {
    font-weight: bold;
    font-style: italic;
}